input {
    text-align: center;
}

.form-control-lg {
    font-size: 1.8rem;
}

.cursor{
    cursor: pointer;
}

.letra {
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
    -webkit-text-stroke: 1px black;
}

.icono {

    width: 65px;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

